<!DOCTYPE html>
<html lang="fr" >
<head>
    <meta charset="UTF-8">
    <title>Friday-Sunday</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Gochi+Hand|Rock+Salt|Special+Elite|WindSong" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css'>
    <link rel="stylesheet" href="./style-jeu-dim.css">
</head>

<body>
    <div class="notebook__inner">
        <div class="jeudi"><span>perso</span>
            <div class="lundi__list">
                THU_DATE
            </div>
        </div>
        <div class="boulot"><span>boulot</span>
        </div>
        <div class="priorites"><span>thèse sur la semaine</span>
        </div>
        <div class="vendredi"><span></span>
            <div class="lundi__list">
                FRI_DATE
            </div>
        </div>
        <div class="ven_droite"><span></span>
        </div>
        <div class="samedi"><span></span>
            <div class="lundi__list">
                SAT_DATE
            </div>
        </div>
        <div class="dimanche"><span></span>
            <div class="lundi__list">
                SUN_DATE
            </div>
        </div>
    </div>
</body>
</html>
