<!DOCTYPE html>
<html lang="fr" >
<head>
    <meta charset="UTF-8">
    <title>CodePen - CSS Grid: Bullet Journal</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Gochi+Hand|Rock+Salt|Special+Elite|WindSong" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css'>
    <link rel="stylesheet" href="./style-lun-mer.css">
</head>

<body>
<!-- partial:index.partial.html -->
<div class="notebook__inner">
  <div class="title">
	<h1>WEEK_DATES</sup></h1>
  </div>
  <div class="lundi"><span>perso</span>
	<div class="lundi__list">
	   MON_DATE
	</div>
  </div>
  <div class="boulot"><span>boulot</span>
  </div>
  <div class="priorites"><span>priorités</span>
  </div>

  <div class="mardi"><span></span>
	<div class="lundi__list">
	   TUE_DATE
	</div>
  </div>
  <div class="mar_droite"><span></span>
  </div>

   <div class="mercredi"><span></span>
	<div class="lundi__list">
        WED_DATE
	</div>
  </div>
  <div class="mer_droite"><span></span>
  </div>

</div>

<!--<aside class="context">
  <div class="explanation">Continuation of this <a href="https://codepen.io/oliviale/full/bLYQQE" target="_blank">Moleskine pen</a>.<br/>Part of the  <a href="https://codepen.io/collection/DQvYpQ" target="_blank">CSS Grid collection here</a>.</div>
</aside>-->
<!-- <footer><a href="https://twitter.com/meowlivia_" target="_blank"><i class="icon-social-twitter icons"></i></a><a href="https://github.com/oliviale" target="_blank"><i class="icon-social-github icons"></i></a><a href="https://dribbble.com/oliviale" target="_blank"><i class="icon-social-dribbble icons"></i></a></footer>-->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
</body>
</html>
