<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <style>
        MY_CSS
    </style>
</head>

<body>
<page side="left">
    <div class="grid">
        <div class="title">
            <h1>WEEK_DATES</h1>
        </div>
        <div class="box">
            <span class="collumn-title">BOX_TITLE</span>
        </div>
            <div class="cell_11" style="MON_VIZ">
                <span class="collumn-title">LEFT_COL_TITLE</span>
                MON_DATE
            </div>
            <div class="cell_12" style="MON_VIZ">
                <span class="collumn-title">RIGHT_COL_TITLE</span>
            </div>
            <div class="cell_21" style="TUE_VIZ">
                TUE_DATE
            </div>
            <div class="cell_22" style="TUE_VIZ">
            </div>
            <div class="cell_31" style="WED_VIZ">
                WED_DATE
            </div>
            <div class="cell_32" style="WED_VIZ">
            </div>
    </div>
</page>
</body>
</html>
