<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        MY_CSS
    </style>
</head>

<body>
<page side="left">
    <month-title>
        MONTH YEAR
    </month-title>
    <month>
        <cell style="visibility: C11_VIZ;">C11_DATE</cell>
        <cell style="visibility: C12_VIZ;">C12_DATE</cell>
        <cell style="visibility: C13_VIZ;">C13_DATE</cell>
        <cell style="visibility: C14_VIZ;">C14_DATE</cell>
        <cell style="visibility: C15_VIZ;">C15_DATE</cell>
        <cell style="visibility: C16_VIZ;">C16_DATE</cell>
        <cell style="visibility: C17_VIZ;">C17_DATE</cell>

        <cell style="visibility: C21_VIZ;">C21_DATE</cell>
        <cell style="visibility: C22_VIZ;">C22_DATE</cell>
        <cell style="visibility: C23_VIZ;">C23_DATE</cell>
        <cell style="visibility: C24_VIZ;">C24_DATE</cell>
        <cell style="visibility: C25_VIZ;">C25_DATE</cell>
        <cell style="visibility: C26_VIZ;">C26_DATE</cell>
        <cell style="visibility: C27_VIZ;">C27_DATE</cell>

        <cell style="visibility: C31_VIZ;">C31_DATE</cell>
        <cell style="visibility: C32_VIZ;">C32_DATE</cell>
        <cell style="visibility: C33_VIZ;">C33_DATE</cell>
        <cell style="visibility: C34_VIZ;">C34_DATE</cell>
        <cell style="visibility: C35_VIZ;">C35_DATE</cell>
        <cell style="visibility: C36_VIZ;">C36_DATE</cell>
        <cell style="visibility: C37_VIZ;">C37_DATE</cell>

        <cell style="visibility: C41_VIZ;">C41_DATE</cell>
        <cell style="visibility: C42_VIZ;">C42_DATE</cell>
        <cell style="visibility: C43_VIZ;">C43_DATE</cell>
        <cell style="visibility: C44_VIZ;">C44_DATE</cell>
        <cell style="visibility: C45_VIZ;">C45_DATE</cell>
        <cell style="visibility: C46_VIZ;">C46_DATE</cell>
        <cell style="visibility: C47_VIZ;">C47_DATE</cell>

        IGNORE_FIFTH_WEEK
            <cell style="visibility: C51_VIZ;">C51_DATE</cell>
            <cell style="visibility: C52_VIZ;">C52_DATE</cell>
            <cell style="visibility: C53_VIZ;">C53_DATE</cell>
            <cell style="visibility: C54_VIZ;">C54_DATE</cell>
            <cell style="visibility: C55_VIZ;">C55_DATE</cell>
            <cell style="visibility: C56_VIZ;">C56_DATE</cell>
            <cell style="visibility: C57_VIZ;">C57_DATE</cell>
        END_IGNORE_FIFTH_WEEK

        IGNORE_SIXTH_WEEK
            <cell style="visibility: C61_VIZ;">C61_DATE</cell>
            <cell style="visibility: C62_VIZ;">C62_DATE</cell>
            <cell style="visibility: C63_VIZ;">C63_DATE</cell>
            <cell style="visibility: C64_VIZ;">C64_DATE</cell>
            <cell style="visibility: C65_VIZ;">C65_DATE</cell>
            <cell style="visibility: C66_VIZ;">C66_DATE</cell>
            <cell style="visibility: C67_VIZ;">C67_DATE</cell>
        END_IGNORE_SIXTH_WEEK
    </month>
</page>
</body>
</html>
