* {
  box-sizing: border-box;
}

@font-face {
    font-family: "myfont";
    src:
    local("JaneAusten");
    /* url("Tagettes.ttf") format("truetype"); */
}

body {
  background: purple;
  font-family: "myfont", sans-serif;
  color: purple;
}

.notebook__inner {
  width: 1000px;
  height: 1350px;
  position: relative;
  /* border-radius: 16px;*/
  /*background: linear-gradient(90deg, #fbfae8 15px, transparent 1%) center, linear-gradient(#fbfae8 15px, transparent 1%) center, #ccc;*/
  background-color: white;
  background-size: 16px 16px;
  display: grid;
  padding: 20px 50px 35px 20px;
  grid-template-areas: "title priorites"
                      "MON_ROW"
                      "TUE_ROW"
                      "WED_ROW";
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
}
/*.notebook__inner:after {
  content: "";
  width: 100px;
  height: 100%;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  background: linear-gradient(to right, transparent 10%, rgba(153, 153, 153, 0.05) 50%, rgba(153, 153, 153, 0.4) 51%, rgba(153, 153, 153, 0.15) 51.5%, transparent 90%);
}*/

.title {
  grid-area: title;
  text-align: left;
}
.title h1 {
  font: 40px/1 "myfont";
  color: purple;
  /* text-shadow: 2px 1px 0 #fbfae8, 5px 4px 0 coral; */
  margin: 15% 50px;
}

.lundi {
  grid-area: lundi;
  height: 100%;
  border: 1px solid;
  border-color: purple rgba(128,0,128,0.6) purple purple;
  border-width: 1px 1px 0px 0px;
  border-style: solid dashed solid solid;
  margin: 0px 0px 0 0;
  position: relative;
}
.lundi span {
  display: block;
  margin: -19px 45%;
  font: 20px "myfont", cursive;
  color: purple;
  background-color: white;
  /*text-shadow: 2px 1px 0 #fbfae8, 5px 4px 0 coral;*/
}
.lundi span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  top: 0;
  left: 0;
  /*background: #purple;*/
  /*background: linear-gradient(to right, purple 45%, transparent 45% 55%, purple 55% );*/
}
.lundi__list {
  margin-top: 0px;
  padding: 30px 0px 0px 0px;
  line-height: 1.2;
  font-size: 26px;
}

.boulot {
  grid-area: boulot;
  height: 100%;
  border: 1px solid purple;
  border-width: 1px 0px 0px 0px;
  margin: 0px 0px 0 0;
  position: relative;
}
.boulot span {
  display: block;
  margin: -19px 42%;
  font: 20px "myfont", cursive;
  color: purple;
  background-color: white;
  /*text-shadow: 2px 1px 0 #fbfae8, 5px 4px 0 coral;*/
}
.boulot span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  /*background: #111;*/
  /* background: linear-gradient(to right, purple 40%, transparent 40% 60%, purple 60%); */
}
.boulot__list {
  margin-top: 24px;
  padding: 10px;
  line-height: 1.2;
}


.priorites {
  grid-area: priorites;
  border: 1px solid purple;
  border-width: 1px 1px 1px;
  margin: 5px 10px 25px 0; /* top right bottom left*/
  position: relative;
}
.priorites span {
  display: block;
  margin: -19px 41%;
  font: 20px "myfont", cursive;
  color: purple;
  background-color: white;
  /*text-shadow: 2px 1px 0 #fbfae8, 5px 4px 0 coral;*/
}
.priorites span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  /*background: #111;*/
  /*background: linear-gradient(to right, purple 40%, transparent 40% 60%, purple 60% );*/
}
.priorites__list {
  margin-top: 24px;
  padding: 10px;
  line-height: 1.2;
}


/* TUESDAY */
.mardi {
  grid-area: mardi;
  height: 100%;
  /*border: 1px solid purple;*/
  border-color: purple rgba(128,0,128,0.6) purple purple;
  border-width: 1px 1px 0px 0px;
  border-style: solid dashed solid solid;
  margin: px 0px 0 0;
  position: relative;
}
.mardi span {
  display: block;
  margin: -15px 45%;
  font: 20px "myfont", cursive;
  color: purple;
  background-color: white;
  /*text-shadow: 2px 1px 0 #fbfae8, 5px 4px 0 coral;*/
}
.mardi span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  top: 0;
  left: 0;
  /*background: #purple;*/
  /*background: linear-gradient(to right, purple 45%, transparent 45% 55%, purple 55% );*/
}
.mardi__list {
  margin-top: 24px;
  padding: 10px;
  line-height: 1.2;
}

.mar_droite {
  grid-area: mar_droite;
  height: 100%;
  border: 1px solid purple;
  border-width: 1px 0px 0px 0px;
  /*margin: 35px 0px 0 0;*/
  position: relative;
}
.mar_droite span {
  display: block;
  margin: -15px 44%;
  font: 20px "myfont", cursive;
  color: purple;
  background-color: white;
  /*text-shadow: 2px 1px 0 #fbfae8, 5px 4px 0 coral;*/
}
.mar_droite span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  /*background: #111;*/
  /* background: linear-gradient(to right, purple 40%, transparent 40% 60%, purple 60%); */
}

/* WEDNESDAY */
.mercredi {
  grid-area: mercredi;
  height: 100%;
  /*border: 1px solid purple;*/
  border-color: purple rgba(128,0,128,0.6) purple purple;
  border-width: 1px 1px 0px 0px;
  border-style: solid dashed solid solid;
  /*margin: 35px 0px 0 0;*/
  position: relative;
}
.mercredi span {
  display: block;
  margin: -15px 45%;
  font: 20px "myfont", cursive;
  color: purple;
  background-color: white;
  /*text-shadow: 2px 1px 0 #fbfae8, 5px 4px 0 coral;*/
}
.mercredi span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  top: 0;
  left: 0;
  /*background: #purple;*/
  /*background: linear-gradient(to right, purple 45%, transparent 45% 55%, purple 55% );*/
}
.mercredi__list {
  margin-top: 24px;
  padding: 10px;
  line-height: 1.2;
}

.mer_droite {
  grid-area: mer_droite;
  height: 100%;
  border: 1px solid purple;
  border-width: 1px 0px 0px 0px;
  /*margin: 35px 0px 0 0;*/
  position: relative;
}
.mer_droite span {
  display: block;
  margin: -15px 44%;
  font: 20px "myfont", cursive;
  color: purple;
  background-color: white;
  /*text-shadow: 2px 1px 0 #fbfae8, 5px 4px 0 coral;*/
}
.mer_droite span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  /*background: #111;*/
  /* background: linear-gradient(to right, purple 40%, transparent 40% 60%, purple 60%); */
}

/* Responsive here
@media screen and (max-width: 768px) {
	.main-content {
		padding: 1em;
	}
	.notebook__inner {
		grid-template-columns: 40% 25% 35%;
		grid-template-rows: auto;
		grid-template-areas:
			"title title title"
			"days days days"
			"notes notes notes"
			"expenses expenses expenses"
			"goals quote picture"
			"tracker tracker picture";
		> div {
			margin: 30px 20px;
		}
		&:after {
			width: 100%;
			height: 100px;
			bottom: 0;
			background: linear-gradient(
				to bottom,
				transparent 10%,
				rgba(153, 153, 153, 0.05) 50%,
				rgba(153, 153, 153, 0.4) 51%,
				rgba(153, 153, 153, 0.15) 51.5%,
				transparent 90%
			);
		}
	}
}
*/
