<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <style>
        MY_CSS
    </style>
</head>

<body>
<page side="right">
    <div class="grid">
        <div class="box">
            <span class="collumn-title">BOX_TITLE</span>
        </div>
        <div class="cell_11" style="THU_VIZ">
            <span class="collumn-title">LEFT_COL_TITLE</span>
            THU_DATE
        </div>
        <div class="cell_12" style="THU_VIZ">
            <span class="collumn-title">RIGHT_COL_TITLE</span>
        </div>
        <div class="cell_21" style="FRI_VIZ">
            FRI_DATE
        </div>
        <div class="cell_22" style="FRI_VIZ">
        </div>
        <div class="cell_31" style="SAT_VIZ">
            SAT_DATE
        </div>
        <div class="cell_32_solidleft" style="SUN_VIZ">
            SUN_DATE
        </div>
    </div>
</page>
</body>
</html>
