<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        MY_CSS
    </style>
</head>

<body>
<page side="right">
    <week>
        <cell type="box">
            <collumn-title>BOX_TITLE</collumn-title>
        </cell>
        <cell type="c11" style="THU_VIZ">
            <collumn-title>LEFT_COL_TITLE</collumn-title>
            THU_DATE
        </cell>
        <cell type="c12" style="THU_VIZ">
            <collumn-title>RIGHT_COL_TITLE</collumn-title>
        </cell>
        <cell type="c21" style="FRI_VIZ"> FRI_DATE </cell>
        <cell type="c22" style="FRI_VIZ"> </cell>
        <cell type="c31" style="SAT_VIZ"> SAT_DATE </cell>
        <cell type="c32_solidleft" style="SUN_VIZ"> SUN_DATE </cell>
    </week>
</page>
</body>
</html>
