<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        MY_CSS
    </style>
</head>

<body>
<page side="left">
    <week>
        <dates>
            WEEK_DATES
        </dates>
        <cell type="box">
            <collumn-title>BOX_TITLE</collumn-title>
        </cell>
        <cell type="c11" style="MON_VIZ">
            <collumn-title>LEFT_COL_TITLE</collumn-title>
            MON_DATE
        </cell>
        <cell type="c12" style="MON_VIZ">
            <collumn-title>RIGHT_COL_TITLE</collumn-title>
        </cell>
        <cell type="c21" style="TUE_VIZ"> TUE_DATE </cell>
        <cell type="c22" style="TUE_VIZ"></cell>
        <cell type="c31" style="WED_VIZ"> WED_DATE </cell>
        <cell type="c32" style="WED_VIZ"></cell>
    </week>
</page>
</body>
</html>
